@model TaskManagmentSystem.ViewModel.TaskView

@{
    ViewData["Title"] = "getTask";
}

<h1>details</h1>


    <h4>Specific Task</h4>
    <hr />
    <table border="1" cellpadding="10">

        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Subject)</th>
                <th> @Html.DisplayNameFor(model => model.CreateTime)</th>
                <th> @Html.DisplayNameFor(model => model.StartDate)</th>
                <th> @Html.DisplayNameFor(model => model.DueDate)</th>
                <th> @Html.DisplayNameFor(model => model.CompletedDate)</th>
                <th> @Html.DisplayNameFor(model => model.Complete)</th>
                <th> @Html.DisplayNameFor(model => model.Importance)</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Subject)</td>
                <td>@Html.DisplayFor(model => model.CreateTime)</td>
                <td>@Html.DisplayFor(model => model.StartDate)</td>
                <td>@Html.DisplayFor(model => model.DueDate)</td>
                <td>@Html.DisplayFor(model => model.CompletedDate)</td>
                <td>@Html.DisplayFor(model => model.Complete)</td>
                <td>@Html.DisplayFor(model => model.Importance)</td>

            </tr>
        </tbody>

    </table>